html{
	height: 100%!important;
	width:100%!important;
	/* background: linear-gradient(to bottom , #4A62A4 10%,#4A62A4 100%); */
}
.mui-content{
	width: 100%;
	height: 100vh;
	overflow: hidden;
	/* background: linear-gradient(to bottom , #7B94CD 10%, #4A62A4 100%); */
}
/* 标题颜色 */
header{
	background: linear-gradient(to right , #314173 10%,#393952 100%);
}
/* 9宫格的背景色及边框去除 */
.mui-table-view.mui-grid-9{  
	  /*替换成自己的颜色*/
	height: 100vh;
	background: linear-gradient(to bottom , #7B94CD 10%, #4A62A4 100%);
	border-left: 0px;
}
.mui-grid-9{
	width: calc(100vw)!important;
}
/* 9宫格的边框去除 */
.mui-grid-view.mui-grid-9 .mui-table-view-cell{
	/* width: calc(25vw)!important; */
	border:0;
}
/* a标签的背景色及圆角 */
.mui-table-view-cell a{
	background: linear-gradient(to bottom , #FFFFFF 0%,#6A73B4 100%)!important;
	/* background-color:#5AF1F6 !important; */	border-radius: calc(5vw);
	
}
/* 字体颜色 */
.mui-media-body{
	color: #FFFFFF!important;
}
/* 9宫格底部字体大小 */
.mui-media-body{
	height: calc(5vw)!important;
	font-size: calc(4.5vw)!important;
	line-height: calc(5vw)!important;
}
/* 引入图标的尺寸 */
.icon {
	width: calc(16vw);
	height: calc(7vh);
	fill: currentColor;
	overflow: hidden;
}