html{
	width: 100%!important;
	height:100%!important;
}
.mui-content{
	width: 100%;
	height: 100%;
	/* overflow: hidden; */
}
/* 标题颜色 */
header{
	background: linear-gradient(to right , #314173 10%,#393952 100%);
}
/* 9宫格的背景色及边框去除 */
.mui-table-view.mui-grid-9{  
	/*替换成自己的颜色*/
	width: 100%!important;
	height: 100%!important;
	margin: 0 auto;
	/* margin-top: 6%!important ; */
	background: linear-gradient(to bottom , #7B94CD 10%, #4A62A4 100%);
	/* border-left: 0px; */
}
.mui-table-view{
	border: 0!important;
	margin-top: 6%!important;
}
.mui-grid-9{
	width: 10rem!important;
}
/* 9宫格的边框去除 */
ul li{
	border:0!important;
	margin: 0!important;
	/* margin-bottom: 0!important; */
}
/* a标签的背景色及圆角 */
.mui-table-view-cell a{
	background: linear-gradient(to bottom , #FFFFFF 0%,#6A73B4 100%)!important;	border-radius: 0.4rem;
}

/* 9宫格底部字体大小 */
.mui-media-body{
	margin-top: 0px!important;
	height: 0.6rem!important;
	font-size: 0.5rem!important;
	line-height: 0.6rem!important;
	color: #FFFFFF!important;
}
/* 引入图标的尺寸 */
.icon {
	width: 1.2rem;
	height: 1.2rem;
	fill: currentColor;
	overflow: hidden;
}