html{
	width: 100vw!important;
	height:100%!important;
	/* background: linear-gradient(to bottom , #7B94CD 10%, #4A62A4 100%); */
	overflow: hidden!important;
}
.mui-content{
	width: 100%;
	height: 100vh;
	background: linear-gradient(to bottom , #7B94CD 10%, #4A62A4 100%);
}
/* 标题颜色 */
header{
	background: linear-gradient(to right , #314173 10%,#393952 100%);
}
/* 9宫格的背景色及边框去除 */

.mui-table-view{
	width: 100%;
	border: 0!important;
	margin: 10rem auto;
}

/* 9宫格的边框去除 */
ul li{
	border:0!important;
	margin: 0!important;
}
/* a标签的背景色及圆角 */
.mui-table-view-cell a{
	background: linear-gradient(to bottom , #FFFFFF 0%,#6A73B4 100%)!important;	border-radius: 0.4rem;
}

/* 9宫格底部字体大小 */
.mui-media-body{
	margin-top: 0px!important;
	height: 0.6rem!important;
	font-size: 0.5rem!important;
	line-height: 0.6rem!important;
	color: #FFFFFF!important;
}
/* 引入图标的尺寸 */
.icon {
	width: 1.2rem;
	height: 1.2rem;
	fill: currentColor;
	overflow: hidden;
}