.mui-content{
	height: 100vh;
	width: 100%;
	background-color: #314173;
}
.container{
	width: 100%;
	margin: 3vh auto;
}
.container ul{
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	/* justify-content: space-between; */
	justify-content: space-around;
}
.container ul li{
	position: relative;
	width: calc(100vw/3.5);
	height: calc(100vw/3.5);
	margin:calc(100vw/50);
	/* background: #2AC845; */
}
.container ul li img{
	width: 100%;
}
.container ul li div{
	position: absolute;
	top: 0;
	right: 0;
	width: calc(100vw/8);
	height: calc(100vw/8);
	z-index: 999;
}