@font-face {
    font-family: LCD-font;
    src:
	url('../fonts/LCD.woff2'),  
    url('../fonts/LCD.ttf'),
    url('../fonts/LCD.eot'); 
}

.mui-content{
	height: 100vh;
	width: 100%;
	background-color: #314173;
}
.door{
	position: relative;
	width: 70%;
	margin: 0.5rem auto 0;
	/* margin: 0 auto ; */
}
.door img{
	width: 100%;
}
.door-img1{
	position: relative;
	z-index: 5;
}
.door-img2{
	position: absolute;
	top: 0;
	right: 0%;
	z-index: 1;
}
.dr-btnes{
	width: 70%;
	margin: 0 auto;
	/* height: 100px; */
	/* margin-top: 20px ; */
	background: red;
	border: 0.3rem solid #7E7973;
	background: #000;
}
input{
	display: block;
	border: 0;
	height: 1.4rem;
	width: 100%;
	text-align: right;
	font-family: LCD-font;
	font-size: 1.2rem!important;
	background-image: radial-gradient(#DB7020 80%, #AF6D39);
}
.dr-btnes table{
	width: 100%;
	margin: 0 auto;
}
.dr-btnes td{
	padding: 0;
	margin: 0;
	width: 1.2rem;
	height: 1.2rem;
	line-height: 1.2rem;
	text-align: center;
	border: 0.3rem solid #000;
	font-size: 0.7rem;
	background: #646F71;
}
#clr{
	background: #A5282D;
	font-size: 0.5rem;
	font-weight: 600;
}
#clr:active{
	background: #FF0000;
	color: #C0C0C0;
}
#con{
	background: #3A5E77;
	font-size: 0.5rem;
	font-weight: 600;
}
#con:active{
	background: #6495ED;
	color: #C0C0C0;
}
td:active{
	background: #C0C0C0;
	color: #DB7020;
}