html,body{
	font-family: helvetica neue,helvetica,arial,sans-serif;
	font-weight: 200;
}
/* 整个大背景 */
.mui-content{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #314173;
}

/* light-switch-label 开关背景 */
.light-switch-label{
	position: relative;
	display: block;
	width: 80%;
	height: calc(100vw/1.2);
	margin: 30% auto 0 auto;
	background-color: #fff4d3;
	border-radius: 5%;
	z-index: 1;
}
.light-switch-label .switch{
	height: calc(100vw/2.15);
	width: 36%;
	background: #fffaea;
	position: absolute;
	top: 50%;
	left: 30%;
	margin: -30% 0 0 -20%;
	border-radius: 2%;
	overflow: hidden;
	box-shadow: 0 10px 10px -5px rgba(233, 219, 176, 0), 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 0 4px #fff4d3, 0 0 0 5px rgba(0, 0, 0, 0.1);
	cursor: pointer;
}
.light-switch-label .switch1{
	cursor: pointer;
	height: calc(100vw/2.15);
	width: 36%;
	background: #fffaea;
	position: absolute;
	top: 50%;
	left: 70%;
	margin: -30% 0 0 -20%;
	border-radius: 2%;
	overflow: hidden;
	box-shadow: 0 10px 10px -5px rgba(233, 219, 176, 0), 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 0 4px #fff4d3, 0 0 0 5px rgba(0, 0, 0, 0.1);
}

.light-switch-label .switch .switch-on,.switch-on1{
	position: absolute;
	height: calc(100vw/4.5);
	text-align: center;
	line-height: calc(100vw/4.5);
	width: calc(100vw/3.5);
	top: 4%;
	left: 0;
	background: #efe0b1;
	color: #bfa371;
	border-radius: 2% 2% 0 0;
	font-size: calc(100vw/18);
	
}
.light-switch-label .switch .switch-off,.switch-off1{
	position: absolute;
	height: calc(100vw/4);
	text-align: center;
	line-height: calc(100vw/4);
	width: calc(100vw/3.5);
	bottom: 0;
	left: 0;
	background: #fff4d3;
	color: #a4441a;
	text-shadow: 0 0 3px #ff4e00;
	border-radius: 0 0 2% 2%;
	font-size: calc(100vw/18);
}

.btn-on{
	height: calc(100vw/4)!important;
	top: 0px!important;
	line-height: calc(100vw/4)!important;
	background: #fff4d3!important;
	color: #64bf60!important;
	text-shadow: 0 0 3px #38ff2e!important;
}
.btn-off{
	height: calc(100vw/4.5)!important;
	bottom: 5%!important;
	line-height: calc(100vw/4.5)!important;
	background: #fffaea!important;
	box-shadow: 0 calc(100vw/30) 0 #d0b57b!important;
	color: #d7bf95!important;
	text-shadow: 0 0 0px transparent!important;
}
/* 开关螺丝screw */
.light-switch-label .screw {
	position: absolute;
	height: calc(100vw/20);
	width: calc(100vw/20);
	border-radius: 100%;
	left: 50%;
	margin-left: -1%;
	background: #e3d4a5;
	overflow: hidden;
	box-shadow: inset 0 1% 0 rgba(0, 0, 0, 0.15);
}

.light-switch-label .screw:before {
	content:'';
	display: block;
	position: absolute;
	height: 100%;
	width: 2px;
	left: 50%;
	margin-left: -1px;
	background:rgba(0, 0, 0, 0.2);
}
.light-switch-label .screw:first-of-type{
	top: calc(100vw/20);
}
.light-switch-label .screw:last-of-type{
	bottom: calc(100vw/20);
}