html{
	height:100%;
	background-color: #314173;
}
.mui-content{
	height: 100vh;
	width: 100%;
	background-color: #314173;
}
/* 窗户动态 */
.window-show{
	position: relative;
	width: 5rem;
	margin: 0 auto;
	margin-top: 0.5rem;
}
.window-show #wind-1{
	position: relative;
	width: 90%;
}
.window-show #wind-2{
	position: absolute;
	width: 90%;
	top:0;
	left: 0%;
}
/* 窗户控制 */
.window-con{
	width: 90%;
	margin: 0 auto;
}
.wind-position,.wind-pinch{
	width: 95%;
	margin: 0 auto 0;
}
.wind-pinch{
	margin-top: 0.3rem
}
/* 滑块位置文字 将原始屏蔽 */
.mui-tooltip{
	width: 0px!important;
	height: 0px!important;
	border: 0px!important;
	text-align: center!important;
	line-height: 100%;
	top: 0%!important;
	left: 100%!important;
	color: #FFFFFF!important;
	font-size: 0!important;
}
/* 滑块标题文字 */
.wind-position p,.wind-pinch p{
	color: #FFFFFF;
	height: 0.5rem;
	font-size: 0.5rem;
	margin-bottom: 0;
}
/* 滑块样式 */
.wind-position input,.wind-pinch input{
	background: #FFFFFF!important;
	/* height: 0.1rem!important; */
	color: #FFFFFF!important;
}
/* 滑块大小和颜色 */
.mui-input-range input[type='range']::-webkit-slider-thumb
{
	width: 0.5rem;
	height: 0.6rem;
	padding-right: 0!important;
	border-radius: 20%!important;
	/* background-color:#C8C7CC; */
	background: yellow;
}
/* 滑块位置文字 自定义滑块提示 */
.wind-position span,.wind-pinch span{
	position: absolute;
	/* top:0; */
	right: -8%;
	top: 50%;
	font-size: 0.5rem;
	font-weight: 600;
	/* bottom: 0; */
	/* color: #FFFFFF; */
	color: yellow;
	
}
/* 窗户控制|窗户速度|窗户状态 */
.wind-contol,.wind-speed,.wind-buts{
	width: 95%;
	height: 0.7rem;
	line-height: 0.7rem;
	margin: 0 auto;
	/* margin: calc(100vw/20); */
	margin-top: 0.7rem;
	/* margin-left: 0; */
	/* overflow: hidden; */
}
.wind-contol{
	margin-top: 0.2rem;
}
.wind-contol p,.wind-speed p,.wind-buts p{
	/* width: 20%; */
	font-size: 0.5rem;
	text-align: center;
	margin: 0 auto;
	/* width: 18%; */
	height: 0.5rem;
	/* margin-left: 0.3rem; */
	/* margin-right: 0.2rem ; */
}

.wind-title{
	float: left;
	color: #FFFFFF;
}

ul{
	float: left;
	display: flex !important;
	flex-direction: row;
	justify-content:space-between;
	margin: 0 auto!important;
}
ul>li{
	/* width: calc(100vw/8); */
	position: relative;
	height: 0.7rem;
	line-height: 0.7rem;
	background: #fff;
	/* padding: 0.1rem; */
	/* margin: 0 calc(100vw/60); */
	margin-left: 0.2rem;
	margin-right: 0.2rem;
	padding-left: 0.1rem ;
	padding-right: 0.1rem ;
	font-size: 0.4rem;
	text-align: center;
	
}

ul>li:active{
	/* background: yellow!important; */
	box-shadow: calc(100vw/150) calc(100vw/150) 1px #797979;
	/* font-size: calc(100vw/23); */
	font-weight: 600;
}
#get8:active,#get9:active{
	/* background: yellow; */
}