.mui-content{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #314173;
}
.button-group {
  position: relative;
  padding-top: 10px;
  width: 60%;
  height: 80%;
  margin: 10% auto;
  border: 2px solid #CCCCCC;
  border-radius: 8%;
  box-shadow: 10px -10px 1px #888888;
  background-color: #FFFFFF;
}
/*显示框*/
.text-show{
	/*position: absolute;
	left: 0;
	right: 0;
	top: 6%;
	margin: auto;*/
	margin: 6% auto;
	width: 80%;
	padding: 3%;
	line-height: 100%;
	/*margin: 0 auto;*/
	border: 2px solid #ccc;
	border-radius: 8%;
	background-color: #DDDDDD;
}
.text-show p{
	padding: 10px;
	padding-left: 0;
	padding-right: 0;
	color: #888888;

}
.text-bottom{
	width: 80%;
	/*height: 30%;*/
	margin: 0 auto;
	/*background-color: pink;*/
}
.text-bottom p{
	display: block;
}
button{
	display: inline-block;
	margin-bottom: 5px ;
	width: 40%;
}
button:active {
	box-shadow: 3px 3px 2px #ccc;
}
.btn-img{
	transform:rotate(180deg);
}
/* 功能选择 */
#selet{
	position: relative;
	width: 80%;
	left: 0;
	right: 0;
	margin: auto;
	height: calc(100vw/10);
	background: #FFFFFF;
	
}
#selet .selet-text{
	margin: 0;
}
#selet #showUserPicker1{
	width: 40%;
	padding: 0;
	margin: 0;
	font-size: 14px;
}
.text-1,.text-2{
	margin-top: 0.6rem ;
	padding-left: 0;
	padding-right: 0;
}
/*文字颜色*/
.text-bule{
	color: blue;
}
.t-40{
	font-size: 40px;
	
}
.t-align{
	text-align: center;
}
.t-14{
	font-size: 14px;
}
.fl{
	float: left;
}
.fr{
	float: right;
}


