.mui-content{
	height: 100%;
	width: 100%;
	background-color: #314173;
}
.button-group {
  position: relative;
  padding-top: 0.3rem;
  padding-bottom: 0.6rem;
  width: 60%;
  margin: 20% auto;
  border-radius: 8%;
  box-shadow: 0.3rem -0.3rem 1px #888888;
  background-color: #FFFFFF;
}
/*显示框*/
.text-show{
	margin: 6% auto ;
	width: 80%;
	padding: 3%;
	line-height: 100%;
	border: 1px solid #ccc;
	border-radius: 8%;
	padding-bottom: 0 ;
	background-color: #DDDDDD;
}
.text-show p{
	padding: 0.3rem;
	height: 6vh;
	padding-left: 0;
	padding-right: 0;
	color: #888888;
	margin-bottom: 0 ;
	font-size:0.4rem;

}
.text-show span{
	font-size: 0.4rem;
}
#text-tem{
	font-size: 1.2rem;
}
.text-bottom{
	width: 80%;
	/*height: 30%;*/
	margin: 0 auto;
	/*background-color: pink;*/
}
#selet{
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	background: #FFFFFF;
}
.air-btn1, .air-btn2 ,.air-btn3,.air-btn4{
	margin-bottom: 0.2rem ;
}
.air-btn1>button,.air-btn2 button,.air-btn3 button,#selet button,.air-btn4 button{
	width: 40%;
	font-size: 0.4rem;
}
.btn-img2,.btn-img1{
	width: 0.4rem;
}
.btn-img2{
	transform:rotate(180deg);
}
/* 品牌选择 */
.selet-text{
	text-align: center;
	padding-left: 0;
	padding-right: 0;
	border: 0;
	color: #999;
}
#selet #showUserPicker1{
	width: 40%;
	padding: 0;
	margin: 0;
	height: 1rem;
	font-size: 0.4rem;
}
.air-btn4{
	width: 100%;
}
.text-1,.text-2{
	padding-left: 0;
	padding-right: 0;
}
/*文字颜色*/
.text-bule{
	color: blue;
}
.t-40{
	font-size: 0.4rem;
	
}
.t-align{
	text-align: center;
}
.clr{
	clear: both;
}



