.mui-content{
	width: 100%;
	height: 100vh;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-smooth: auto;
	font-weight: 300;
	line-height: 1.5;
	color: #444;
	background-color: #314173;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}
.mui:before{
	position: absolute;
	content:'';
	width: 100%;
	height: 84.25%;
	box-shadow: inset 0 0 200px 200px black;
	z-index: 1;
}

/* wrapper窗外框主体 */
.wrapper {
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
  height: 84.25%;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2);
  transition: height 1000ms ease;
  border-top: 30px solid #3E2723;
  border-right: 30px solid #3E2723;
  border-left: 30px solid #3E2723;
  z-index: 5;
}
/* 窗帘样式 */
.wrapper img{
	width: 50%;
	height: 100%;
	transition: width 2000ms ease; 
}
.Page6_2{
	float: right;
}
/* 窗边结构 */
.glares {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 84.45%;
  padding: 20px 20px 170px 20px;
  z-index: 3;
}
.glares .glare {
  position: absolute;
  width: 50%;
  height: 50%;
}
.glares .glare:before {
  position: absolute;
  content: '';
  top: 3px;
  left: 3px;
  width: 99%;
  height: 98%;
  opacity: 0.1;
  background: rgba(255, 255, 255, 0.1);
  background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 0%, white 10%, rgba(255, 255, 255, 0) 50%);
}
.glares .glare:nth-of-type(1) {
  top: 0;
  left: 0;
  border-top: 30px solid #3E2723;
  border-bottom: 15px solid #3E2723;
  border-right: 15px solid #3E2723;
  border-left: 30px solid #3E2723;
}
.glares .glare:nth-of-type(2) {
  top: 50%;
  left: 0;
  border-top: 15px solid #3E2723;
  border-bottom: 30px solid #3E2723;
  border-right: 15px solid #3E2723;
  border-left: 30px solid #3E2723;
}
.glares .glare:nth-of-type(3) {
  top: 0;
  right: 0;
  border-top: 30px solid #3E2723;
  border-bottom: 15px solid #3E2723;
  border-right: 30px solid #3E2723;
  border-left: 15px solid #3E2723;
}
.glares .glare:nth-of-type(4) {
  top: 50%;
  right: 0;
  border-top: 15px solid #3E2723;
  border-bottom: 30px solid #3E2723;
  border-right: 30px solid #3E2723;
  border-left: 15px solid #3E2723;
}

/* 底部窗体 */
.ledge {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background: #A1887F;
  background: -webkit-linear-gradient(to bottom, #3E2723 5%, #795548 100%);
  background: linear-gradient(to bottom, #3E2723, #795548);
  overflow: hidden;
  z-index: 6;
}
.ledge:before {
  position: absolute;
  content: '';
  top: -50px;
  left: -50px;
  width: calc(100% + 100px);
  height: 120px;
  background: rgba(255, 255, 255, 0.1);
  background: -webkit-linear-gradient(-90deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.85) 10%, rgba(255, 255, 255, 0) 50%);
  box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.3);
  z-index: 8;
}
/* .btns{
	position: absolute;
	width: 20%;
	height: 100%;
	display:inline-block;
} */
/* btn1 btn2 btn3底部按键 */
.btn1,.btn2,.btn3 {
  position: absolute;
  bottom: 20px;
  left: 12%;
  margin-right: 10%;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 99px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 125ms linear;
  cursor: pointer;
  z-index: 9999;
}
.btn2{
	left: 42%;
}
.btn3{
	left: 72%;
}

