.mui-content{
	height: 100vh;
	width: 100%;
	background-color: #314173;
}
.container .show{
	width: 60%;
	margin: 0 auto;
}
.show img{
	position: relative;
	width: 50%;
	display: block;
	margin: 10% auto;
}
.show span{
	width: 15%;
	display: inline-block;
	line-height: 100%;
	background: #ccc;
}

/* 表格 */

.table td{
	border: calc(100vw/100) solid #cad9ea;
	height: calc(100vw/8);
	line-height: 100%;
	font-size: calc(100vw/20) ;
	font-weight: 600;
	text-align: center;
	color: #FFFFFF;
}
table tr button{
	/* padding: calc(100vw/80) ; */
	text-align: center;
	font-size: calc(100vw/30) ;
	font-weight: 600;
}