.mui-content{
	background: #314173;
	height: 100vh;
	position: relative;
	overflow: hidden;
}
.container{
	display: flex;
	/* margin-top: 1rem; */
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.lightbulb__container {
  position: relative;
  width: 7.5rem;
  /* height: 19rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
/* 灯泡上部 */
.lightbulb__container .lightbulb__bulb {
  /* position: relative; */
  width: 5rem;
  height: 5rem;
  background: #FEFFBE;
  border-radius: 50%;
  background: #000;
}
/* 灯泡内部的白色 */
/* .lightbulb__container .lightbulb__bulb_inside {
  position: absolute;
  right: 1rem;
  top: 2rem;
  width: 6rem;
  height: 6rem;
  border-right: 1.15rem solid #FCFCF7;
  border-radius: 50%;
  transform: rotateZ(-20deg);
} */
/* 接连灯泡的下部 */
.lightbulb__container .lightbulb__bulb_bottom {
  position: absolute;
  width: 5rem;
  height: 1.25rem;
  bottom: 0;
  left: calc(50% - 2.5rem);
  border-radius: 0 0 0.5rem 0.5rem;
  background: #000;
}
/* 制作伪类 下部形成弧度 */
.lightbulb__container .lightbulb__bulb::before, .lightbulb__container .lightbulb__bulb::after {
  content: '';
  display: block;
  position: absolute;
  top: 70%;
  width: 3.25rem;
  height: 5rem;
  background: #314173;
  z-index: 5;
}
.lightbulb__container .lightbulb__bulb::before {
  left: -40%;
  border-top-right-radius: 50%;
}
.lightbulb__container .lightbulb__bulb::after {
  right: -40%;
  border-top-left-radius: 50%;
}
/* 接触灯泡底部灰色部分*/
.lightbulb__container .lightbulb__base {
  /* position: absolute; */
  /* bottom: calc(31vw); */
  width: 2.5rem;
  height: 0.75rem;
  background: #888F98;
  margin-top:0.1rem;
  border-radius: 0.15rem;
  z-index: 10;
}
/* 灯泡螺旋部分 */
.lightbulb__container .lightbulb__spiral {
  /* position: absolute; */
  /* bottom: calc(25vw); */
  width: 1.75rem;
  height: 0.5rem;
  background: #7a828c;
  border-radius: 0.1rem;
  margin-top: 0.1rem;
  background-image: linear-gradient(180deg, transparent 45%, #565c64 10%);
  background-size: 50% 30%;
}
/* 灯泡背景 */
.lightbulb__container .lightbulb__glow {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%) translateY(-15%) scale(0.4);
  filter: blur(2.5rem);
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background: radial-gradient(#FEFFBE 25%, transparent 80%);
  z-index: 8;
}


/* 动画效果结合灯泡背景使用 */
@keyframes glow{
  0% {
    transform: translateX(-50%) translateY(-15%) scale(0.5);
  }
  50% {
    transform: translateX(-50%) translateY(-15%) scale(1.15);
  }
  100% {
    transform: translateX(-50%) translateY(-15%) scale(0.5);
  }
}


/* 电源开关部分 */
/* .switch{
	position: absolute;
	width: 100%;
	height: 38%;
	top: 60px;
	margin: 0 auto;
	z-index: 999;
} */
.switch-1{
	margin-top: 0.3rem;
	width: 85%;
	/* background: red; */
}
/* 电源开关部分 */
#img{
	width: 10%;
	float: right;
	z-index: 3;
}
/* RGB电源开关·RGB颜色开关 */
.switch-2{
	width: 80%;
	margin: 0 auto;
	/* background: red; */
}
/* RGB电源开关部分 */
.switch-2 .switch2{
	float: left;
	width: 1.5rem;
	height: 0.9rem;
	font-size: 0.5rem;
	line-height: 0.9rem;
	text-align: center;
	color: #FFFFFF;
	visibility:hidden;
	background: #CDCDCD;
	z-index: 9999;
}
/* RGB颜色开关 */
.switch-2 .switch3{
	float: right;
	font-size: 0.5rem;
	width: 2.5rem;
	height: 0.9rem;
	line-height: 0.9rem;
	color: #009F3C;
	text-align: center;
	background: #FCFCF7;
	visibility: hidden;
	z-index: 9999;
}


/* 下面控制部分 slider */
.slider{
	width: 90%;
	color: #C8C7CC;
	opacity: 0.5;
	pointer-events: none;
	z-index: 100;
	margin: 0 auto;
}
.mui-input-range{
	position: relative;
	padding-right: 0!important;
	height: 1.5rem;
	overflow: hidden!important;
}
#rangel,#range2,#range3{
	margin-top: 0.5rem;
}
/* 标题label样式 */
.slider label{
	font-size: 0.5rem;
	height: 0.9rem;
	text-align: center;
}
/* 内容说明样式 */
.slider p{
	position: absolute;
	font-size: 0.4rem;
	height: 0.5rem;
	width: 80%;
	bottom: 0;
	left: 40%;
	margin: auto;
}
/* 改变数字提示框样式 */
.mui-input-range .mui-tooltip{
	font-size: 0.6rem;
	line-height:   0.8rem;
	width: 0.8rem;
	height:  0.8rem;
	font-weight: border;
	text-align: center;
	font-weight: 600;
	top: 0%;
	z-index: 100;
}
/* 改变滑块的颜色 */
.mui-input-range input[type='range']::-webkit-slider-thumb
{
	width: 0.5rem;
	height: 0.5rem;
	background-color:#C8C7CC; 
	background: #009F3C;
}


/* 颜色模块选择 */
.mui-input-row ul{
	float: left;
	display:flex; 
	flex-wrap: wrap;
	list-style: none;
	justify-content: space-between;
	align-content: space-between;
	margin-top: 0.3rem;
	padding: 0;
	width: 60%;
}
.mui-input-row ul li{
	padding:0;
	/* margin:0; */
	float: left;
	width: 0.6rem;
	height: 0.6rem;
	border-radius: 50%;
	margin: 0.1rem;
	margin-top:0;
	border: 3px solid transparent;
	cursor: pointer;
}
/* 红色 */
#Color1{
	border-color:#DF0023;
}
/* 浅红色 */
#Color2{
	border-color: #EC6B9E;
}
/* 浅青豆绿 */
#Color3{
	border-color: #AAD46D;
}
/* 浅黄绿 */
#Color4{
	border-color: #79C471;
}
/* 绿色 */
#Color5{
	border-color: #009F3C;
}
/* 浅绿青 */
#Color6{
    border-color: #3DB7B4;
}
/* 浅青蓝 */
#Color7{
	border-color: #5D8AC6;
}
/* 浅青 */
#Color8{
	border-color: #3EBCDF;
}
/* 蜡笔蓝 */
#Color9{
	border-color: #6495ED;
}
/* 浅蓝 */
#Color10{
	border-color: #666EB0;
}
/* 浅蓝紫 */
#Color11{
	border-color: #6A509A;
}
/* 浅紫洋红 */
#Color12{
	border-color: #AE5D9C;
}
/* 初始灯泡亮度 */
.lightbulb__bulb{
	filter: opacity(35%);
}
/* 动画效果结合灯泡背景使用 */
@keyframes glow{
  /* 0% {
    transform: translateX(-50%) translateY(-15%) scale(0.5);
  }
  50% {
    transform: translateX(-50%) translateY(-15%) scale(0.8);
  }
  100% {
    transform: translateX(-50%) translateY(-15%) scale(0.5);
  } */
  0% {
    opacity: 1.0;
  }
  50% {
   opacity: 0.4;
  }
  100% {
   opacity: 1.0;
  }
}
.glow_animation1{
	animation: glow 2s ease infinite;
	/* animation-timing-function: 1s; */
}
.glow_animation2{
	animation: glow 1.5s ease infinite;
	/* animation-timing-function: 1s; */
}
.glow_animation3{
	animation: glow 1s ease infinite;
	/* animation-timing-function: 1s; */
}
.glow_animation4{
	animation: glow 0.5s ease infinite;
	/* animation-timing-function: 1s; */
}
