*{
	margin: 0;
	padding: 0;
}
html{
	height: 100%!important;
	width:100%!important;
}
header{
	background: linear-gradient(to right , #314173 10%,#393952 100%);
}
.mui-content{
	width: 100%;
	height: 100vh;
	background: linear-gradient(to bottom , #7B94CD 10%, #4A62A4 100%);
}
.sa_part1{
	width: 100%;
	padding: calc(100vw/30);
	margin: 0 auto;
	font-size: calc(100vw/20);
}
.sa_part1 ul{
	list-style: none;
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: calc(100vw/30) ;
	justify-content:space-between;
	background: transparent;
	
}
.sa_part1 ul>li{
	width: 25%;
	height: calc(100vw/5);
	text-align: center;
	background: red;
}