*{
	margin: 0;
	padding: 0;
}
@font-face {
    font-family: LCD-font;
    src:
	url('../fonts/LCD.woff2'),  
    url('../fonts/LCD.ttf'),
    url('../fonts/LCD.eot'); 
}
html{
	height: 100%!important;
	width:100%!important;
}
header{
	background: linear-gradient(to right , #314173 10%,#393952 100%);
}
.mui-content{
	width: 100%;
	background: linear-gradient(to bottom , #7B94CD 10%, #4A62A4 100%);
}
.sa-part1,.sa-part2,.sa-part3{
	width: 90%;
	padding-top: 0.3rem;
	margin: 0 auto ;
	font-size:  0.5rem;
	color: #FFFFFF;
}

.sa-part1 ul,.sa-part2 ul,.sa-part3 ul{
	width: 100%;
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0.3rem 0 0 0;
	padding-top: 0.3rem;
	justify-content: space-between;
	background: transparent;
	border: 1px solid #FFF4D3;
	box-sizing: border-box;
}
/* 防区部分 */

.sa-part1 ul>li{
	position: relative;
	width: 25%;
	text-align: center;
}
.sa-part1 ul>li img{
	display: inline-block;
	width: 70%;
	text-align: center;
}
.sa-part1 ul li>p{
	position: absolute;
	width: 0.7rem;
	height: 0.7rem;
	top: 0;
	left: 0%;
	right: 0;
	margin: auto;
	text-align: center;
	line-height: 100%;
	border-radius: 50%;
	font-size: 0.7rem;
	color: red;
	font-weight: normal;
	background: #FFF4D3;
}
/* 报警状态 */
.sa-part2 ul{
	padding-bottom: 0.3rem;
}
.sa-part2 ul>li{
	position: relative;
	width: 30%;
	text-align: center;
}
.sa-part2 ul>li img{
	width: 55%;
	text-align: center;
}
.sa-part2 ul>li p{
	color: #fff;
	margin-bottom: 0;
	font-size:  0.4rem;
	font-weight: normal;
	overflow: hidden;
}

/* 信息部分 */
.sa-part3 ul >div{
	position: relative;
	width: 90%;
	margin: 0 auto;
	margin-bottom: 0.5rem;
}
.sa-part3 label{
	display: inline-block;
	height: 0.5rem;
	line-height: 0.5rem;
	width: 25%;
	font-size:  0.4rem;
	text-align: center;
	font-weight: normal;
}
.sa-part3 ul input{
	width: 20%;
	color: #000000;
	text-align: center;
	font-size:  0.4rem;
	font-weight: normal;
}
.sa-part3 ul button{
	width: 20%;
	padding: 0;
	font-size:  0.4rem;
	font-weight: normal;
}
.sa-part3 .serve-power{
	padding: 0;
	margin: 0;
	width: 0.7rem;
	height: 0.7rem;
	border-radius: 50%;
	background: #0000FF;
}
/* 弹窗表格 */
#popover{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 80%;
	height: 50%;
}
#smtext{
	padding: 0;
	margin: 0;
	border: 0;
}
#popover table{
	width: 100%;
}
#popover input{
	padding: 0;
	margin: 0;
	width: 100%;
	height: calc(100vw/8);
	font-family: LCD-font;
	text-align: right;
	font-size: calc(100vw/8);
}
#popover td{
	padding: calc(100vw/22);
	text-align: center;
	background: #FFF4D3;
	border: calc(100vw/30) solid #4A62A4;
	font-size: calc(100vw/20);
	font-weight: 600;
}
.off{
	display: block;
}
.on{
	display: none;
}